@import './Variables.scss';
@import './Header.scss';
@import './Footer.scss';
@import './UserPage.scss';
@import './Activity.scss';
@import './PerformanceChart.scss';
@import './ScoreChart.scss';
@import './Keydata.scss';
@import './Session.scss';


body {
  margin: 0;
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  margin-left: 200px;
  margin-top: 200px;
  margin-right: 83px;
}