$white: #FFF;
$red: #e60000;
$black: #282D30;
$background-black:#020203;
$background-shadow:#00000040;
$key-data-name:#74798C;
$activity-legend: #74798c;
$score: #74798c;
$grey:#FBFBFB;
$container:#00000005;
$user-red:#ff0101;